:root {
  --bg-color: #000;
  --fg-color: #ffffff;
  --accent-color: #05fa6d;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Outfit";
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .nav-bar {
    width: 100vw;
    height: 8vh;
    display: flex;

    span {
      color: var(--accent-color);
      font-size: 1.3vw;
      margin-block: auto;
      margin-right: auto;
      margin-left: 1vw;
      font-weight: bold;
    }

    a {
      width: fit-content;
      height: fit-content;
      padding: 0.4vw;
      text-decoration: none;
      margin-block: auto;
      margin-inline: 0.5vw;
      transition: 200ms;

      label {
        font-size: 1.1vw;
        color: var(--fg-color);
        transition: 200ms;
        cursor: pointer;
      }
    }

    a:nth-child(2):hover {
      border-radius: 0.5vw;
      background: rgb(255, 255, 255, 0.1);
    }

    a:nth-child(3) {
      margin-right: 2vw;
      background: var(--accent-color);
      border-radius: 0.5vw;

      label {
        color: var(--bg-color);
        font-weight: bold;
      }
    }

    a:nth-child(3):hover {
      scale: 1.05;
    }
  }

  .content {
    width: 90vw;
    height: 90vh;
    margin: auto;
    display: flex;

    .desc {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        width: 85%;
        color: var(--fg-color);
        font-weight: normal;
        font-size: 5vw;
        margin-top: auto;
        margin-inline: auto;
        text-align: center;

        span {
          color: var(--accent-color);
          font-weight: bold;
        }
      }

      p {
        color: rgb(255, 255, 255, 0.8);
        font-size: 1.3vw;
        width: 60%;
        text-align: center;
        margin-inline: auto;
        margin-top: 3vw;
        margin-bottom: auto;
      }
    }

    .try-div {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;

      h2 {
        color: var(--fg-color);
        font-size: 2vw;
        margin-inline: auto;
        margin-top: auto;
      }

      .url-field {
        width: 100%;
        height: 15%;
        display: flex;
        margin-bottom: auto;

        input {
          background: transparent;
          outline: none;
          border: 2px solid grey;
          border-radius: 1vw;
          width: 60%;
          height: 50%;
          margin-block: auto;
          margin-left: auto;
          margin-right: 1vw;
          transition: 200ms;
          font-size: 2vw;
          color: var(--accent-color);
          padding-inline: 1vw;
        }

        input:focus {
          scale: 1.03;
          border-color: var(--accent-color);
        }

        label {
          width: fit-content;
          height: fit-content;
          border-radius: 0.5vw;
          color: var(--bg-color);
          font-size: 1.3vw;
          font-weight: bold;
          background: var(--accent-color);
          padding: 0.5vw;
          margin-block: auto;
          margin-right: auto;
          margin-left: 1vw;
          transition: 200ms;
          cursor: pointer;
        }

        label:hover {
          scale: 1.05
        }
      }
    }
  }
}
